@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/* CSS RESET */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* STYLES */

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat, sans-serif;
}

.main-container {
    background-color: hsl(0, 0%, 100%);
    margin-inline: 1rem;
    margin-block: 1.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.main-container #photo-desktop {
    display: none;
}


.info-container {
    padding: 1.5rem;
    color: hsl(228, 12%, 48%);
}

.info-container h3 {
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    margin-bottom: 0.75rem;
}

.info-container h1 {
    font-family: Fraunces, sans-serif;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
}

.info-container p {
    line-height: 1.45rem;
    font-size: 0.885rem;
}

.product-price {
    display: flex;
    justify-content: flex-start;
    margin-block: 1.5rem;
}

.product-price p:nth-of-type(1) {
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    display: inline;
    margin-right: 1.5rem;
    font-family: Fraunces, sans-serif;
}

.product-price p:nth-of-type(2) {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.info-container .btn {
    padding-block: 1rem;
    width: 100%;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: Montserrat, sans-serif;
    border-radius: 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.info-container .btn:hover {
    background-color: hsl(158, 36%, 20%)
}

.info-container .btn img {
    margin-inline: 0.5rem;
}

/* RESPONSIVE MEDIA QUERIES */

@media (min-width:630px) {
    body {
        display: grid;
        place-content: center;
        height: 100vh;
    }

    .main-container {
        display: flex;
        max-width: 600px;
    }

    .info-container {
        max-width: 50%;
        padding-inline: 2rem;
    }

    .main-container #photo-desktop {
        display: block;
    }

    .main-container #photo-mobile {
        display: none;
    }

    .info-container h3 {
        margin-top: 0.5rem;
        margin-bottom: 1.25rem;
    }

    .info-container h1 {
        margin-bottom: 1.55rem;
    }

    .product-price {
        margin-block: 2.15rem;
    }
}